<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Adam
        <span class="text-primary">Miszkiewicz</span>
      </h1>
      <div class="subheading mb-5">
        Student · Software Developer · Data Analyst
      </div>
      <p class="lead mb-5">
        Versatile and motivated IT student with a strong technical foundation in
        computer programming and analysis. Proven ability to manage projects,
        deliver exceptional customer service, and solve complex problems.
        Bilingual in English and Polish, offering a unique multicultural
        perspective. Eager to leverage skills in a dynamic IT environment.</p>

      <p>Apart from being a software developer, I enjoy spending as much time
        outside as I can. During the warmer months here in Wasaga Beach, I enjoy
        biking, golfing, and swimming. In the winter, I play hockey and am a
        novice snowboarder. When indoors, I follow a number of comedy and
        fantasy genre movies and television shows, I love to cook & bake, and I
        spend a large amount of my free time hanging out with friends or my
        awesome dog Milo!</p>

      <div class="social-icons">
        <a
          class="social-icon"
          href="https://www.linkedin.com/in/adam-miszkiewicz-3978ba206/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          class="social-icon"
          href="https://github.com/AdamMiszkiewicz"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </section>
  <hr class="m-0" />

  <!-- Experience-->
  <section class="resume-section" id="experience">
    <div class="resume-section-content">
      <h2 class="mb-5">Experience</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">
            Ski Valet and Ski/Snowboard Technician (Seasonal)</h3>
          <div class="subheading mb-3">Blue Mountain Resort</div>
          <p>Organize and manage ski and snowboard equipment for customers,
            ensuring efficient retrieval and return. Track customer property,
            providing excellent customer service and maintaining a high level of
            organization. Conduct the sizing of skis and boards for guests, as
            well as perform repairs on any equipment as needed. Collaborate with
            team members to ensure smooth and safe operation in a fast-paced
            resort environment.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">December 2023 -
            March 2024</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Owner & Operator</h3>
          <div class="subheading mb-3">AM Construction</div>
          <p>Managed all aspects of business, from client communication to
            schedule coordination. Provided a range of services including yard
            maintenance, creating gardens, pressure washing, showcasing
            versatility and ability to meet client needs.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">
            2018 - 2024</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Private Contractor</h3>
          <div class="subheading mb-3">EOMAC LTD.</div>
          <p>Led a project team of 6, overseeing tasks and providing on-the-job
            training, demonstrating strong leadership and team management
            skills. Specialized in installation of acoustic wall panels and
            fabric for both private residential theatres and home renovations,
            used for sound dampening as well as visual enchantment.
          </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">2019 - 2022</span></div>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Electrician Apprentice</h3>
          <div class="subheading mb-3">Pro-Connect</div>
          <p>Collaborated with team members to ensure safety and efficiency on
            all projects. Engaged in a range of electrical works for both
            commercial and residential settings.</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">2018 - 2019</span></div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      <div class="subheading mb-3">Programming Languages & Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
        <li class="list-inline-item"><i class="fab fa-unity"></i></li>
        <li class="list-inline-item"><i class="fab fa-python"></i></li>
        <li class="list-inline-item"><i class="fab fa-java"></i></li>
        <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>

      </ul>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Microsoft PowerBI
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Microsoft Office (Excel, PowerPoint, Word)
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Android Studio (Kotlin)
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          MySql
        </li>
      </ul>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Experience-->
  <section class="resume-section" id="projects">
    <div class="resume-section-content">
      <h2 class="mb-5">Projects</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">
            Immigration Trends</h3>
          <div class="subheading mb-3">Intro Into Data Analysis Class Assignment</div>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
    <div class="resume-section-content">
      <h2 class="mb-5">Awards & Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
          Need to add certs
        </li>
      </ul>
    </div>
  </section>
</div>